/* Google Font Import - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body: #F3F5FC;
    --primary-color: #0A3871;
    --secondary-color: #D8DFE8;
    --text-color: #0A3871;
    --line-color: #234C7F;
    --title-color: #343A40;
    --text-title: #82868C;
}

body {
    background: var(--body);
}

.container {
    width: 95%;
    height: 100vh;
    margin: auto;
    padding: 1rem;
}

.row {
    width: 100%;
    height: calc(100vh - 1rem);
    display: grid;
    grid-template-columns: 76% 24%;
    padding-bottom: 1rem;
}

.encriptar {
    width: 90%;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem;
    margin-left: 4rem;
}

.encriptado {
    width: 100%;
    height: calc(100vh - 2rem);
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.encriptado2 {
    width: 100%;
    height: calc(100vh - 2rem);
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.texto {
    width: 70%;
    height: 60%;
    background: var(--body);
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    border: none;
    font-size: 32px;
    line-height: 150%;
}

.texto::placeholder {
    color: var(--text-color);
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
}

.terminos {
    width: 70%;
    font-family: 'Inter';
    color: var(--text-title);
    font-size: 12px;
}

.icono {
    font-size: 18px;
}

.botones {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid{
    text-align: bottom;
}

.btn {
    width: 90%;
    padding: 0.9rem;
    border-radius: 16px;
    font-family: 'Inter';
    margin-top: 1rem;
}

.btn:hover{
    width: 88%;
    padding: 0.8rem;
}

.btn-encriptar {
    background: var(--primary-color);
    color: #ffffff;
    border: 1.8px solid var(--primary-color);
}

.btn-encriptar:hover {
    background: var(--line-color);
    color: #ffffff;
    border: 1.8px solid var(--line-color);
}

.btn-desencriptar {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 1.8px solid var(--primary-color);
}

.btn-desencriptar:hover {
    background: #e4e8ec;
    color: var(--primary-color);
    border: 1.8px solid var(--title-color);
}

.btn-copiar {
    width: 100%;
    display: none;
    margin-top: 1rem;
    border-radius: 16px;
    padding: 0.9rem 5rem 0.9rem 5rem;
    background: #ffffff;
    color: var(--primary-color);
    border: 1.8px solid var(--primary-color);
}

.btn-copiar:hover {
    width: 98%;
    background: #e4e8ec;
    color: var(--primary-color);
    border: 1.8px solid var(--title-color);
    padding: 0.8rem 4.9rem 0.8rem 4.9rem;
}

.muneco {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje-encriptado {
    width: 100%;
    text-align: center;
}

.parrafo {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Inter';
    font-size: 16px;
    border: none;
    background: transparent;
    color: var(--text-title);
}

.parrafo2 {
    width: 100%;
    height: calc(100vh - 10rem);
    text-align: center;
    margin-top: 1rem;
    font-family: 'Inter';
    font-size: 16px;
    border: none;
    background: transparent;
    overflow: scroll;
    overflow-x: hidden;
    color: var(--text-title);
}

.parrafo2::-webkit-scrollbar {
    width: 6px;
}

.parrafo2::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
}


/* ====== diseño responsive tablet ====== */
@media screen and (max-width: 980px) {
    body {
        overflow-x: hidden;
    }

    .container {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    .row {
        display: block;
        width: 100%;
        height: calc(100vh - 2rem);
        padding: 1rem;
    }

    .encriptar {
        margin-left: auto;
        width: 100%;
        height: auto;
        padding: 0.9rem 0rem 3rem 0rem;
    }
    .encriptado{
        width: 100%;
        height: auto;
    }

    .encriptado2{
        width: 100%;
        height: auto;
    }

    .parrafo{
        margin-bottom: 0;
    }

    .parrafo2 {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .texto {
        width: 100%;
        height: 53vh;
        font-size: 20px;
        line-height: auto;
    }

    .terminos {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: end;
    }

    .botones {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 0px;
    }

    .btn {
        width: 100%;
        padding: 0.9rem;
    }

    .btn:hover{
        width: 98%;
        padding: 0.8rem;
    }


    .mensaje-encriptado {
        margin-top: 2rem;
    }

    .muneco {
        display: none;
    }

    .mensaje-encriptado p {
        margin-bottom: 1.5rem;
    }

    .btn-copiar{
        padding: 0.9rem 17rem;
    }
    .btn-copiar:hover{
        padding: 0.8rem 16rem;
    }
}

/* ====== diseño responsive celular ====== */
@media screen and (max-width: 480px) {
    body {
        overflow-x: hidden;
    }

    .container {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .row {
        display: block;
        width: 95%;
        height: auto;
        padding: 1rem;
        margin-bottom: 0;
        padding-right: 0;
    }

    .encriptar {
        margin-left: auto;
        width: 100%;
        height: auto;
        padding: 0rem 0rem 3rem 0rem;
    }

    .texto{
        height: auto;
    }

    .encriptado{
        width: 100%;
        height: auto;
    }

    .encriptado2{
        width: 100%;
        height: auto;
    }

    .parrafo{
        margin-bottom: 0;
    }

    .parrafo2 {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .texto {
        width: 100%;
        font-size: 20px;
    }

    .terminos {
        width: 100%;
    }

    .botones {
        width: 100%;
        display: block;
    }

    .btn {
        width: 100%;
        padding: 0.9rem;
    }

    .btn:hover{
        width: 98%;
        padding: 0.6rem;
    }

    .mensaje-encriptado {
        margin-top: 1rem;
    }

    .muneco {
        display: none;
    }

    .mensaje-encriptado p {
        margin-bottom: 1.5rem;
    }

    .btn-copiar{
        padding: 0.9rem 7rem;
    }
    .btn-copiar:hover{
        padding: 0.9rem 7rem;
    }
}